### idea
.idea/
*.iml

### sts
.settings
.classpath
.project

### maven
michackathon-common/target/
michackathon-discovery/target/
michackathon-auth/target/
michackathon-user-api/target/
michackathon-ui/target/
michackathon-admin/target/
michackathon-gateway/target/
michackathon-config/target/
michackathon-turbine/target/
michackathon-hystrix-dashboard/target/
michackathon-node-service/node_modules
michackathon-presentation/bower_components
michackathon-presentation/node_modules
target/

### node
npm-debug.log
npm-debug.log*
michackathon-ui/etc/
michackathon-ui/node/
michackathon-ui/node_modules/

### coverage
michackathon-ui/coverage/

### dist
michackathon-ui/src/main/resources/static/
