<md-card>
  <md-card-title>About Page</md-card-title>
  <md-card-content>
    <i class="fa fa-star fa-6"></i>
    <span>Spring boot Angular 2 starter</span>
    <i class="fa fa-star fa-6"></i>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <md-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex massa, efficitur eu sodales eget, malesuada sed
        mauris. Maecenas feugiat quam ac elit ultrices, ac interdum lacus vulputate. Maecenas porttitor tempus metus sit
        amet fermentum. Curabitur eleifend diam nulla, ac hendrerit turpis sagittis id. Nulla vulputate odio nec lorem
        consequat, quis facilisis elit fermentum. Duis sed efficitur urna. Cras elementum ultrices est, in pulvinar
        turpis. Quisque eu lobortis purus. Proin ornare, libero quis vestibulum dignissim, libero tellus molestie magna,
        in blandit lectus turpis at lacus. Integer vitae tristique eros. Nulla convallis lectus at elit pretium
        dictum.</p>

      <p>Aenean consequat leo sed dolor convallis, quis mattis lorem semper. Curabitur mattis diam et magna malesuada
        porta. Suspendisse potenti. Sed ornare sit amet erat quis sollicitudin. Pellentesque congue libero vitae
        efficitur
        ultrices. Duis bibendum ultricies libero et ornare. Mauris efficitur interdum nibh, ac interdum nunc tempus ac.
        Ut
        ultricies felis purus, ac laoreet purus tincidunt quis. Suspendisse potenti. Praesent dictum vulputate erat, sed
        pulvinar augue. Vivamus fermentum mi sit amet suscipit scelerisque. Morbi quis orci non diam posuere maximus sed
        et odio.</p>

      <p>Quisque eu odio lobortis, posuere diam et, auctor nunc. Suspendisse nec porta libero. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Maecenas in quam eu nibh pellentesque placerat. Nunc
        placerat sodales lorem nec porttitor. In commodo massa sit amet convallis eleifend. Etiam sit amet ex rhoncus
        ligula tincidunt tristique. Duis metus urna, feugiat ac vulputate ac, sagittis sed justo. Quisque lobortis enim
        sed enim tristique, ac tristique eros dignissim.</p>

      <p>Aliquam lorem turpis, sodales ac felis vel, mollis molestie felis. Curabitur sed nisl risus. Donec convallis
        sollicitudin lacus, ut pulvinar urna porta non. Mauris viverra quam tortor, sit amet sollicitudin diam semper
        nec.
        Ut venenatis eros vitae tellus hendrerit viverra. Pellentesque porta nisl non est feugiat hendrerit. Phasellus
        sapien magna, vestibulum nec ex ac, facilisis pretium purus. Quisque sed nisl quam. Aliquam vel felis risus.
        Suspendisse molestie fringilla ultricies. Donec tincidunt, ex a aliquam ullamcorper, orci neque accumsan leo, id
        semper sapien urna nec odio. Aliquam id libero sit amet nunc volutpat convallis. Phasellus vitae sem leo. Proin
        suscipit ligula velit, eget ullamcorper nisl finibus ac.</p>

      <p>In blandit, leo sed ultrices porttitor, neque nisi sollicitudin nisl, id suscipit est urna sed eros. Vivamus
        vehicula nisi eros, non dignissim erat sagittis et. Suspendisse nec ipsum sed elit convallis posuere non eu
        ligula. Morbi sit amet rhoncus neque, vitae mattis tellus. Nulla sit amet nunc quis enim auctor fringilla.
        Pellentesque luctus tincidunt lorem ac mattis. Nunc fermentum dignissim dui quis blandit. In hac habitasse
        platea
        dictumst. Nunc pharetra blandit orci, sit amet malesuada lacus euismod vehicula. Donec dapibus tempus dui,
        convallis laoreet nibh accumsan porta. Vivamus ut laoreet lectus. Pellentesque sit amet elit ipsum. Fusce
        viverra,
        justo nec lobortis laoreet, urna eros pulvinar erat, eu fermentum mauris mauris id nibh. Duis sollicitudin eros
        id
        est sodales, eu accumsan orci pulvinar. Etiam mollis eget magna a rhoncus.</p>
    </md-card-content>
  </md-card-content>
</md-card>
