<md-card>
  <md-card-title-group>
    <img md-card-sm-image [src]="angularLogo" alt="angular logo"/>
    <md-card-title>Home Page</md-card-title>
    <md-card-subtitle>Authenticated: {{authService.isAuthenticated()}}</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
    <p>Project proving micrservices capability in context of Emirates</p>
  </md-card-content>
</md-card>

<md-card *ngIf="authService.isAuthenticated()">
  <md-card-header>
    <md-card-title><h1 style="text-align: center">Token will expire {{authService.getTokenExpirationDate() |
      date:'MM/dd/yy HH:mm:ss'}}</h1></md-card-title>
    <md-card-subtitle>Authenticated: {{authService.isAuthenticated()}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div style="width: 100%">
  <pre>
    {{ authService.getUserData() | json }}
  </pre>

      <span x-large>Content from server:</span>

      <div>
        <md-input [style.width]="'100%'" [value]="data.value" (input)="data.value = $event.target.value"
                  autofocus></md-input>
      </div>

      <pre>this.data = {{ data | json }}</pre>
    </div>
  </md-card-content>
</md-card>

