<md-sidenav-layout fullscreen class="sidenav-layout">

  <md-sidenav #sidenav>
    <md-nav-list class="navigation">
      <template ngFor let-view [ngForOf]="views">
        <a md-list-item routerLinkActive="active" [routerLink]="view.link" (click)="sidenav.close()"
           [hidden]="!authService.canView(view)">
          <md-icon md-list-icon>{{view.icon}}</md-icon>
          <span md-line>{{view.name}}</span>
          <span md-line>{{view.description}}</span>
        </a>
      </template>
    </md-nav-list>
  </md-sidenav>

  <div class="main-content">
    <md-toolbar color="primary">
      <button md-icon-button disableRipple="true" (click)="sidenav.open()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
      </button>
      <span>{{ name }}</span>
      <span class="fill"></span>
      <span class="user-info" *ngIf="authService.isAuthenticated()">Current user: {{ authService.getUserData().user_name }}</span>
      <a md-raised-button color="primary" routerLinkActive="active" [routerLink]="['login']"
         [hidden]="authService.isAuthenticated()">Login</a>
      <button md-raised-button color="primary" (click)="logMeOut()" [hidden]="!authService.isAuthenticated()">Logout
      </button>

      <button md-raised-button color="primary" (click)="authService.refreshToken()" [hidden]="true">Refresh token
      </button>

    </md-toolbar>

    <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

    <router-outlet></router-outlet>

  </div>

  <md-card class="footer" color="primary">
    <md-card-header>
      <img md-card-avatar src="/assets/img/angular-logo.png">
      <md-card-title>{{ name }}</md-card-title>
      <md-card-subtitle><a [href]="url">by michackathon</a></md-card-subtitle>
    </md-card-header>
  </md-card>

</md-sidenav-layout>

